

<!-- Body -->
<div class="container">
    <h1>About Me</h1>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <img class="img-thumbnail img-responsive photo" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/1229829_10205309195477237_4176026331216407455_n.jpg?oh=8a27add1b753e08c8291951348498c45&oe=54EEA56B&__gda__=1421054977_e9071636c8733856458fd33239b65f47" />
        </div>
        <div class="col-md-9 col-sm-9">
            <p>
                Το όνομα μου είναι Αλέξανδρος Σεμελίδης. Σπούδασα πληροφορική στο Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης και ασχολούμαι με αυτήν από τότε. Στον ελεύθερο χρόνο, μου αρέσει να διαβάζω άρθρα που έχουν σχέση με το διάστημα, την τεχνολογία και την φυσική. Σκοπός αυτού του προσωπικού ιστολογίου είναι να μοιραζόμαστε την γνώση, γιατί η γνώση είναι δύναμη.
            </p>

            <p>
                My name is Alexandros Semelidis. I studied computer science at the Aristotle University of Thessaloniki and deal with it from then. In my spare time, I like to read articles that are related to space, technology and physics. The aim of this personal blog is to share knowledge, because knowledge is power.
            </p>
        </div>
    </div>

    <!--

    <p class="social-buttons text-center">
        <a href="" target="_blank"><button type="button" class="btn btn-primary btn-lg">Visit my Facebook page</button></a> &nbsp;
        <a href="" target="_blank"><button type="button" class="btn btn-default btn-lg">Follow me on Twitter</button></a>
    </p>

    <br />

    <p class="lead text-center">
        For my sin, I've written the following interesting books.
    </p>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="#">
                    <img src="http://placehold.it/300x450" class="img-responsive" />
                </a>
                <div class="caption text-center">
                    <h4>Signs and compatabilities</h4>
                    <p>
                        Rs. 1200 only
                    </p>
                    <button class="btn btn-sm btn-success">buy now!</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="#">
                    <img src="http://placehold.it/300x450" class="img-responsive" />
                </a>
                <div class="caption text-center">
                    <h4>All About Astrology</h4>
                    <p>
                        Rs. 1200 only
                    </p>
                    <button class="btn btn-sm btn-success">buy now!</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="#">
                    <img src="http://placehold.it/300x450" class="img-responsive" />
                </a>
                <div class="caption text-center">
                    <h4>Why believe in astrology?</h4>
                    <p>
                        Rs. 1200 only
                    </p>
                    <button class="btn btn-sm btn-success">buy now!</button>
                </div>
            </div>
        </div>
    </div> -->
</div>