

<!-- Body -->
<div class="container">
    <h1>Contact Me</h1>

    <div class="well">
        <p class="lead">
            Do you have any question? Please use the below contact form and send a message. I'll reply you as quick as possible.
        </p>
    </div>

    <div class="contact-form">
        <form ng-submit="sendEmail()" class="form-horizontal col-md-8" role="form">

            <div class="form-group">
                <label for="name" class="col-md-2">Name</label>
                <div class="col-md-10">
                    <input ng-model="name" type="text" class="form-control" id="name" placeholder="Name" required>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-md-2">Email</label>
                <div class="col-md-10">
                    <input ng-model="email" type="email" class="form-control" id="email" placeholder="Email" required>
                </div>
            </div>

            <div class="form-group">
                <label for="subject" class="col-md-2">Subject</label>
                <div class="col-md-10">
                    <input ng-model="subject" type="subject" class="form-control" id="subject" placeholder="Subject" required>
                </div>
            </div>

            <div class="form-group">
                <label for="message" class="col-md-2">Message</label>
                <div class="col-md-10">
                    <textarea ng-model="message" class="form-control" id="message" placeholder="Message" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">DRAGME</label>
                <div class="row text-center">
                    <div id="dragDiv">
                        <ul class="draglist">
                            <li class="dragLi" ng-repeat="obj in draggableObjects" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
                                <div class="dragObject" ng-drag="true" ng-drag-data="obj" draggable="false">
                                    {{obj.name}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-lg btn-primary">Submit your message!</button>
                </div>
            </div>
        </form>
    </div>
</div>