
<!-- Body -->
<div class="container">
    <h1>Κανόνες</h1>

    <ul>
        <li style="color: red">Οι εικόνες είτε των άρθρων είτε των προφίλ δεν αποθηκεύονται σε αυτό το ιστολόγιο. Αποθηκεύονται μόνο τα link τους. Οπότε το ιστολόγιο αυτό δεν φέρει ευθύνη για αυτές τις εικόνες.</li>
    </ul>

    <div class="row">
        <div class="col-md-9 col-sm-9">
            <h3>Άρθρα</h3>
            <ul>
                <li style="color: red">1. Στα άρθρα τα οποία δεν είναι δικά σας θα πρέπει να αναγράφετε η πηγή διαφορετικά τα άρθρα δεν θα εγκρίνονται.</li>
                <li style="color: red">2. Τα άρθρα τα οποία θα προσβάλουν τον οποιοδήποτε η θα περιέχουν αισχολογίες η ακατάλληλο περιεχόμενο δεν θα εγκρίνονται.</li>
            </ul>

            <h3>Σχόλια</h3>
            <ul>
                <li style="color: red">1. Σχόλια τα οποία εμπεριέχουν αισχρολογίες δεν θα εγκρίνονται.</li>
                <li style="color: red">2. Σχόλια τα οποία προσβάλουν οποιοδήποτε χρήστη δεν θα εγκρίνονται.</li>
            </ul>

            <hr />

            <h1>Rules</h1>

            <ul>
                <li style="color: red">The images of the articles or profiles are not stored on this blog. They stored only the links of these. So this blog is not responsible for these images.</li>
            </ul>


            <h3>Articles</h3>
            <ul>
                <li style="color: red">1. Articles that are not yours should indicate the source differently these ones will not be approved.</li>
                <li style="color: red">2. Articles that offend anyone or contain aischologies or inappropriate content will not be approved.</li>
            </ul>

            <h3>Comments</h3>
            <ul>
                <li style="color: red">1. Comments that contain aischologies will not be approved.</li>
                <li style="color: red">2. Comments that offend anyone will not be approved.</li>
            </ul>

        </div>
    </div>

    <br />
</div>